/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

@media (prefers-reduced-motion: no-preference) {
  html {
      scroll-behavior: smooth;  
  }
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  margin: 0;
}

   header {
  background-color: #351D77;
  color: white;
  display:flex;
  flex-flow:row wrap;
  justify-content: center;
  width: 100%;
}

.header-top {
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
  align-content: center;
}

nav {
  width: 100%;
} 

nav ul {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
  padding: 15px;
}

nav ul li {
  display: inline;
  text-align: center;
  align-content: space-evenly;
  gap: column;
  font-size: 1.25em;
  font-family: "Alata", sans-serif;
  color: #F8D697;
}

h1 {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  text-align: center;
}

.greeting {
  max-width: 700px;
  margin-right: 30px;
  float: inherit;
  padding: 40px;
}

.jessica_picture {
  width: 80%;
  max-width: 400px;
  border: 10px solid white;
  flex-basis: auto;
}

.header-bottom {
  float:left;
  padding-left: 70px;
  padding-right: 70px;
  text-align: center;
  color: #F8D697;
  width: 70%;
  padding: 40px 30px;
}

header #about_me_1 {
  font-size: 1.25em;
}

header #about_me_2 {
  font-size: 1.25em;
}

h2 {
  font-family: "Alata", sans-serif;
  font-weight: 25;
  font-size: 2.19em;
  float: inherit;
}

h3 {
  font-family: "Alata", sans-serif;
  font-size: 2.19em;
  font-weight: 25;
}

.project_title {
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  display:flex;
  background: #E8F0E4;
}

.projects {
  background: #E8F0E4;
  width: 100%;
  font-family: "Alata", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding-bottom: 50px;
}

.solo_project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  vertical-align: middle;
  display: table-cell;
  flex-basis: auto;
  text-align: center;
}

.live {
  font-size: 1em;
  padding: .75em 2em;
  border-radius: 40px;
  border-width: 5px;
  background: #F8D697;
  align-self: auto;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #351D77;
  font-weight: 800;
  /*text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white; */
}

.live:hover {
  background: #c48611;
}

/*a:visited {
  text-decoration: none;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}*/

.img {
  max-width: 500px;
  height: auto;
  flex-basis: auto;
  width: 80%;
  border: 5px solid black;
}

.skills_title {
  background-color: #351D77;
  color: white;
  clear: both;
  padding: 30px;
  justify-content: center;
  align-items: center;
  display:flex;
}

.skills {
  background-color: #351D77;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: "Alata", sans-serif;
  display:flex;
  flex-wrap: wrap;
  float: left;
  padding-bottom: 50px;
}

.button {
  background-color: #F8D697;
  color: black;
  font-size: 1.06em;
  padding: 18px;
  margin: 10px;
  width: 150px;
  text-align: center;
}

footer {
  background: #E8F0E4;
  justify-content: center;
  flex-wrap: wrap;
}

.contact_area {
  font-size: 1.25em;
  line-height: 30px;
  font-family: "Alata", sans-serif;
  justify-content: center;
  align-items: center;
  flex-flow: row-wrap;
  text-align: center;
  padding-bottom: 40px;
}

.contact_info {
  font-size: 1em;
  line-height: 40px;
  background: #E8F0E4;
  text-align: center;
}

.contact_image {
  max-width: 400px;
  width: 80%;
  border: 10px solid black;
  flex-basis: auto; 
}

footer #contact_title {
  clear: both;
  align-items: center;
  padding-top: 30px;
  font-size: 2.19em;
  font-weight: 25;
}

footer #envelope {
  padding-right: 20px;
  height: 20px;
}

footer #l_icon {
  padding-right: 20px;
  height: 25px;
}

footer #g_icon {
  padding-right: 20px;
  height: 25px;
}

footer ul {
  list-style: none;
  padding-left: 0px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/*@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

/*@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

@media only screen and (min-width: 768px) {
  /*Tablet styles here*/
  .header_top {
    text-align: center;
  }

  .jessica_picture {
    text-align: center;
  }

  h1 {
    font-size: 2.0em;
  }

  .greeting {
    width: 100%;
    margin: 0 auto;
  }

  .solo_project {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact_area {
    text-align: center;
    display: flex;
  }

  .contact_info {
    min-height: 4em;
  }
}

@media only screen and (min-width: 1200px) {
  /*Desktop styles here*/

.jessica_picture {
  float:right;
}

.greeting {
  font-size: 2.5em;
}

.projects {
  flex-wrap: wrap;
}

.solo_project {
  flex-wrap: wrap;
  width: 40%;
}

.skills {
  padding: 0px 80px 50px 80px;
}

.contact_info {
  display: inline-flex; 
  text-align: center;
  margin-left: 80px;
}

}





/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

